{% extends 'base.html.twig' %}

{% block title %}Pyp | My Account{% endblock %}

{% block stylesheets %}
    <style>
        .username-circle--container {
            position: relative;
            text-align: center;
            color: white;
        }

        .username-circle--text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: larger;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('my_account/partials/top_menu.html.twig') }}
    <div class="row">
        {{ include('my_account/partials/sidebar_menu.html.twig') }}
        <div class="col">
            <div class="row">
                <div class="offset-md-2 col-md-10 col-sm-12 text-center">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <div class="username-circle--container">
                                        <img class="username-circle--image rounded-circle" src="data:image/svg+xml;charset=UTF-8,%3Csvg width='65' height='65' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 65' preserveAspectRatio='none'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='holder_17bf4415110'%3E%3Crect width='65' height='65' fill='%23777'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E">
                                        <div class="username-circle--text username-italic text-uppercase font-weight-bold">
                                            {{ user.userIdentifier|first }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <h5 class="username-italic">{{ user.userIdentifier }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="offset-3 col-6">
                                        <a id="profile-edit_name--toggle" class="text-decoration-none text-dark" href="#">Add your full name  <i class="fa fa-pencil-alt" aria-hidden="true" style="font-size: 0.8em"></i></a>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <label for="profile-edit_first_name--input" style="display: none;">First name:</label>
                                                <input class="form-control" id="profile-edit_first_name--input" type="text" name="first_name" value="{{ user.firstName ?? '' }}" style="display: none;">
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <label for="profile-edit_last_name--input" style="display: none;">Last name:</label>
                                                <input class="form-control" id="profile-edit_last_name--input" type="text" name="last_name" value="{{ user.lastName ?? '' }}" style="display: none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="offset-3 col-6">
                                        <a id="profile-edit_bio--toggle" class="text-decoration-none text-dark" href="#">Add a short bio to describe yourself <i class="fa fa-pencil-alt" aria-hidden="true" style="font-size: 0.8em"></i></a>
                                        <label for="profile-edit_bio--input" style="display: none;">Bio (255 chars remaining):</label>
                                        <input class="form-control" id="profile-edit_bio--input" type="text" name="bio" value="{{ user.bio ?? '' }}" style="display: none;" maxlength="255">
                                    </div>
                                </div>
{#                                <div class="row mt-1">#}
{#                                    <div class="offset-3 col-6">#}
{#                                        <a id="profile-edit_location--toggle" class="text-decoration-none text-dark" href="#">Add a location  <i class="fa fa-pencil-alt" aria-hidden="true" style="font-size: 0.8em"></i></a>#}
{#                                        <input class="form-control" id="profile-edit_location--input" type="text" name="location" style="display: none;">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row mt-1">#}
{#                                    <div class="offset-3 col-6">#}
{#                                        <a id="profile-edit_interests--toggle" class="text-decoration-none text-dark" href="#">Follow your interests  <i class="fa fa-pencil-alt" aria-hidden="true" style="font-size: 0.8em"></i></a>#}
{#                                        <input class="form-control" id="profile-edit_interests--input" type="text" name="interests" style="display: none;">#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="row mt-4">
                                    <div class="offset-3 col-6">
                                        <input id="submit-btn" type="submit" class="btn btn-outline-dark" value="Save" style="display: none;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set userHasFirstName = false %}
    {% set userHasLastName = false %}
    {% if user.firstName|length is not same as 0 %}
        {% set userHasFirstName = true %}
    {% endif %}
    {% if user.lastName|length is not same as 0 %}
        {% set userHasLastName = true %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(() => {
            const editNameToggle = $('#profile-edit_name--toggle');
            {% set userHasFirstName = false %}
            {% set userHasLastName = false %}
            {% if user.firstName|length is not same as 0 %}
                {% set userHasFirstName = true %}
            {% endif %}
            {% if user.lastName|length is not same as 0 %}
                {% set userHasLastName = true %}
            {% endif %}
            {% if userHasFirstName is not same as true and userHasLastName is not same as true %}
                editNameToggle.on('click', () => {
            {% endif %}
                editNameToggle.hide();
                $('#profile-edit_first_name--input, #profile-edit_last_name--input, label[for=profile-edit_first_name--input], label[for=profile-edit_last_name--input], #submit-btn').show();
            {% if userHasFirstName is not same as true and userHasLastName is not same as true %}
                });
            {% endif %}

            const editBioToggle = $('#profile-edit_bio--toggle');
            {% set userHasBio = false %}
            {% if user.bio|length is not same as 0 %}
                {% set userHasBio = true %}
            {% endif %}
            {% if userHasBio is not same as true %}
                editBioToggle.on('click', () => {
            {% endif %}
                editBioToggle.hide();
                $('#profile-edit_bio--input, label[for=profile-edit_bio--input], #submit-btn').show();
            {% if userHasBio is not same as true %}
                });
            {% endif %}

            const bioInput = $('#profile-edit_bio--input');
            bioInput.on('keyup', () => {
                $('label[for=profile-edit_bio--input]').text('Bio (' + Number(255 - bioInput.val().length).toString() + ' chars remaining):');
            });

            // const editLocationToggle = $('#profile-edit_location--toggle');
            // editLocationToggle.on('click', () => {
            //     editLocationToggle.hide();
            //     $('#profile-edit_location--input, #submit-btn').show();
            // });
            //
            // const editInterestsToggle = $('#profile-edit_interests--toggle');
            // editInterestsToggle.on('click', () => {
            //     editInterestsToggle.hide();
            //     $('#profile-edit_interests--input, #submit-btn').show();
            // });
        });
    </script>
{% endblock %}