{% extends 'base.html.twig' %}

{% block title %}Pyp | Log in{% endblock %}

{% block body %}

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1.3fr;
            grid-template-rows: 1fr 0fr 1fr 1fr;
            gap: 0 0;
            grid-template-areas:
                ". pyp-header ."
                "sign-in-header or register-header"
                "sign-in-form or register-form"
                ". . .";
        }

        .pyp-header { grid-area: pyp-header; }

        .pyp-header > h1 { font-size: xxx-large; }

        .sign-in-header { grid-area: sign-in-header; }

        .or {
            grid-area: or;
        }

        .or > h1 {
            font-family: 'IBM Plex Mono', monospace;
            font-style: italic;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .register-header { grid-area: register-header; }

        .sign-in-form { grid-area: sign-in-form; }

        .register-form { grid-area: register-form; }
    </style>

    <div class="grid-container">
        <div class="pyp-header mx-auto my-auto">
            <h1 class="h3 mb-3"><a class="text-reset" href="{{ path('app_home') }}">Pyp</a></h1>
        </div>
        <div class="sign-in-header">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        </div>
        <div class="or my-auto text-center">
            <h1>or</h1>
        </div>
        <div class="register-header">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>
        <div class="sign-in-form">
            <form method="post" action="/login">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
        <div class="register-form">
        {% block javascripts %}
	<script> 
	
	function formatEmail() {
		const regex = /\S+@\S+\.\S+/;
		const emailInputNode = document.getElementById('inputEmail');
		const emailErrorNode = document.getElementById('emailError');
		if (regex.test(emailInputNode.value)) {
			emailErrorNode.innerHTML = ""
			return 1
		}
		else {
			emailErrorNode.innerHTML = "This is not a valid email address."
			return 0
		}
	}

	function formatMobile() {
		const regex = /(\+[0-9]{12})|(0[0-9]{10})/;
		const mobileInputNode = document.getElementById('inputMobile');
		const mobileErrorNode = document.getElementById('mobileError');
		if (regex.test(mobileInputNode.value)) {
			mobileErrorNode.innerHTML = ""
			return 1
		}
		else {
			mobileErrorNode.innerHTML = "This mobile number is not valid."
			return 0
		}
	}
 	
	function strictInput(inputObject, allowedString) 
	{
		$(inputObject).keypress(function(e) 
		{
			var chr = String.fromCharCode(e.which);
			if (allowedString.indexOf(chr) < 0)
				{
					return false;
				}
		});
	}
		

	</script>
	{% endblock %}
            <form method="post" action="/register">
                <label for="inputUsername">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" required>
                
		<label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                
		<label for="inputEmail">E-mail</label>
		<input type="email" name="email" id="inputEmail" class="form-control" onfocusout="formatEmail()" required>
		<p id="emailError"></p>

                <label for="inputMobile">Mobile (Optional)</label>
		<input type="text" name="mobile" id="inputMobile" class="form-control" onfocusin="strictInput(this, '+1234567890')" onfocusout="formatMobile()" maxlength="13" required>
		<p id="mobileError"></p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Register
                </button>
            </form>
        </div>
    </div>
{% endblock %}
