{% extends 'admin/base.html.twig' %}

{% block title %}Hose | Queue | Pyp{% endblock %}

{% block body %}
    {% set count = 0 %}
    {% set break = false %}

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Queue Name</th>
                        <th>User</th>
                        <th>Body</th>
                        <th>Available At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        {% if not break %}
                            {% if count > 24 %}
                                {% set break = true %}
                            {% endif %}
                            <tr>
                                <td>{{ message.id }}</td>
                                <td>{{ message.queueName }}</td>
                                <td>
                                    <a href="{{ path('hose_user_view', {userId: message.body|getPostUser.id}) }}">
                                        {{ message.body|getPostUser.username }}
                                    </a>
                                </td>
                                <td>{{ message.body|getPostContent }}</td>
                                <td>{{ message.availableAt|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a class="btn btn-danger" role="button" href="{{ path('hose_queue_delete', {messageId: message.id}) }}">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% set count = count + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}