{% for comment in interactions %}
    {% if comment.body is not null and comment.body != '' %}
        {% if comment not in reportedComments  %}
            <div class="row">
                <div class="col username-italic">
                    {{ userRetriever.retrieve(comment.userId).username }}
                </div>
                {% if userRetriever.retrieve(comment.userId).username != currentUser.username %}
                    <div class="col text-end">
                        <a tabindex="0" class="btn" role="button" data-toggle="popover" data-your-comment="false" data-comment-id="{{ comment.id }}">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col" style="word-wrap: break-word; max-width: 300px;">
                    {{ comment.body }}
                </div>
            </div>
        {% else %}
            <div class="row mt-2">
                <div class="col username-italic">
                    {{ userRetriever.retrieve(comment.userId).username }}
                </div>
            </div>
            <div class="row">
                <div class="col" style="color: #6c757d; word-wrap: break-word; max-width: 300px;">
                    You've reported this comment.
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<div class="row mt-4">
    <div class="col">
        <form action="{{ path('save_comment', {post: post.id}) }}" method="POST">
            <div class="input-group">
                <input class="input-comment-italic form-control" type="text" name="comment">
                <button class="btn btn-outline-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
